

html {
  scroll-behavior: smooth;
}
footer{
	width:100%;
	outline-color: grey;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
.full-page{
    height: 100vh;
}
body{
	padding-top: 65px;
}
.spacer{
	height: 20%;
}
